@model List<BookReading.Models.Review>

<fieldset>
	<legend>Отзывы</legend>
	@foreach (var review in Model)
	{
		<p>
			<b>@Html.DisplayNameFor(m => review.Name) </b>
			<br/>
			@Html.DisplayFor(m => review.Name)
			<br/>
			<b>@Html.DisplayNameFor(m => review.Text) </b>
			<br/>
			@Html.DisplayFor(m => review.Text)
		</p>
        <button type="button" class="like-btn" data-review="@review.Id">like! : <span class="like">@Html.DisplayFor(m => review.Likes)</span></button>
        <button type="button" class="report-btn" data-review="@review.Id">report!</button>
	}
</fieldset>
<script src="~/Scripts/jquery-1.4.1.min.js"></script>
<script src="~/Scripts/jquery-1.4.1.js"></script>
<script src="~/Scripts/addLike.js"></script>
<script src="~/Scripts/addReport.js"></script>
